{% extends "base.html" %}

{% block title %}Agregar Producto{% endblock %}

{% block content %}

<div class="container mt-4 position-relative" style="z-index: 1;">
    <h2 class="mb-4">Agregar nuevo producto</h2>
    <form method="POST" action="{{ url_for('producto.crear_producto') }}" enctype="multipart/form-data">
        <div class="mb-3">
            <label for="nombre" class="form-label">Nombre</label>
            <input type="text" class="form-control" id="nombre" name="nombre" required>
        </div>
        <div class="mb-3">
            <label for="descripcion" class="form-label">Descripción</label>
            <textarea class="form-control" id="descripcion" name="descripcion" rows="2"></textarea>
        </div>
        <div class="mb-3">
            <label for="precio" class="form-label">Precio</label>
            <input type="number" class="form-control" id="precio" name="precio" step="0.01" required>
        </div>
        <div class="mb-3">
            <label for="stock" class="form-label">Stock</label>
            <input type="number" class="form-control" id="stock" name="stock" required>
        </div>
        <div class="mb-3">
            <label for="categoria_nombre" class="form-label">Categoría</label>
            <input type="text" class="form-control" id="categoria_nombre" name="categoria_nombre" required>
        </div>
        <div class="mb-3">
            <label for="marca" class="form-label">Marca</label>
            <input type="text" class="form-control" id="marca" name="marca" required>
        </div>
        <div class="mb-3">
            <label for="imagen" class="form-label">Imagen</label>
            <input type="file" class="form-control" id="imagen" name="imagen" accept="image/*">
        </div>
        <button type="submit" class="btn btn-success">Guardar Producto</button>
        <a href="{{ url_for('cliente_dashboard') }}" class="btn btn-secondary">Cancelar</a>
    </form>
</div>
{% endblock %}
